<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="eventsManifestFile" value="eventsManifest.man" />
    <add key="eventsAppSource" value="eventsAppSource" />
    <add key="counterManifestFile" value="countersManifest.man"/>
    <add key="countersAppSource" value="countersAppSource" />
    <add key="targetApplication" value="myApplication.exe" />
  </appSettings>
</configuration>